@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
  width: 2500px;
  margin-left:350px;
  height: 1000px;
}
.App{
  margin-left:100px;
  margin-top:90px
}

@media screen and (max-width:1900px){
  .leaflet-container{
    width:1250px;
    height:550px;
    margin-top:-20px;
    margin-left: 50px;
  }
}